/*GLOBAL*/
/*colors
48412a
b4a36b
879588
79766e
57724b
3c4e59
2d362c
081e1b
*/

body{font: normal 62.5% NegotiateFree,arial,sans-serif;}
a {color: #BF1722;}
a:hover, a:focus, a:visited {color: #BF1722;-webkit-transition: color 150ms ease-in;-moz-transition: color 150ms ease-in;-o-transition: color 150ms ease-in;transition: color 150ms ease-in;}
p {margin:0 0 1.5em 0}

body{}
.default{margin:0 auto;width:960px;}
#container{background:url("/images/large_bg.png") repeat-x scroll 0 0 #1a3367;overflow:hidden;}
#inner_container{background:#F1EED8;max-width:960px;margin:-10px auto 0;}
header{overflow:visible;position:relative;z-index:5;}
header hgroup{margin:0 auto;max-width:960px;}
header nav{min-height:35px;-moz-box-shadow:0 2px 5px #000000;-webkit-box-shadow:0 2px 5px #000;box-shadow:0 2px 5px #000;margin:0 0 10px 0;overflow:visible;background:url("/images/bg_nautical.png") repeat-x scroll 400px -78px transparent;border-color:tan;border-style:dotted;border-width:2px 0;}
header nav a, header nav a:visited, header nav a:focus,header nav span{font-weight:bold;font-size:22px;font-style:normal;text-align:center;text-shadow:1px 1px tan;text-transform:uppercase;color:#143466;}
header nav a:hover{color:#BF1722;}
header nav h1{display:none}
header nav ul{margin:0 auto;width:970px;}
header nav ul li{padding:5px 31px;position:relative;text-transform:uppercase;}
header nav ul li.left{float:left;}
header nav ul li.right{float:right;}
header nav ul li#nav_home{display:none;}
header nav ul li a{text-decoration:none;}
header nav ul li:hover ul li{display:block;}
header nav ul li ul li{display:none;float:none}
header nav ul ul{display:none;padding:10px 0;width:auto;position:absolute;background:#F1EED8;border:1px solid tan;width:237px;-moz-box-shadow:0 2px 5px #000000;-webkit-box-shadow:0 2px 5px #000;box-shadow:0 2px 5px #000;}
header nav ul ul ul{position:relative;background:transparent;border:0 none;width:auto;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
header nav ul ul li a{color:#143466!important;}
header nav ul ul li a:hover{color:#BF1722!important;}
#nav_fenders:hover ul,#nav_fenders:hover ul li,
#nav_services:hover ul, #nav_services:hover ul li{display:block;}
#inner_container hgroup h1.logo{position:relative;top:-38px;z-index:6;margin:0 auto -24px;padding:10px 0 0 0;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;background-size:100% 100%;padding:10px 10px 0;height:101px;width:115px;text-indent:-9999em;background-color:transparent;background-image:url("/images/viking_fender_large_logo.png");background-position:50% 50%;background-repeat:no-repeat;}
body.home #inner_container hgroup h1.logo{height:132px;width:150px;}
#inner_container hgroup h1.logo a{display:block;height:100%;width:100%;}
#inner_container hgroup h2.subtext{display:none;}
footer{clear:both;background:#F1EED8;text-align:center;color:#000;font-size:18px;margin:10px auto 0!important;}
footer section#footer_info{overflow:hidden;padding:10px 20px;}
footer h1{color:#BF1722;}
footer p{margin:0;}


/*nav highlighting*/
/*rgba(245, 235, 205, 0.2)*/
body.home header nav ul li#nav_home a,body.fenders header nav ul li#nav_fenders a{font-weight:bold;color:#BF1722}
body.fenders.bow header nav ul li.fenders.bow a,
body.fenders.side header nav ul li.fenders.side a,
body.fenders.stern header nav ul li.fenders.stern a,
body.fenders.softloop header nav ul li.fenders.softloop a,
body.fenders.softloop-bow header nav ul li.fenders.softloop.bow a,
body.fenders.softloop-side header nav ul li.fenders.softloop.side a,
body.fenders.softloop-stern header nav ul li.fenders.softloop.stern a,
body.fenders.notch header nav ul li.fenders.notch a,
body.fenders.pier header nav ul li.fenders.pier a,
body.fenders.mounting-clips header nav ul li.fenders.mounting-clips a,
body.fenders.softlite header nav ul li.fenders.softlite a,
body.fenders.extruded header nav ul li.fenders.extruded a,
body.fenders.yacht header nav ul li.fenders.yacht a{font-weight:bold;color:#BF1722}
body.load_deformation header nav ul li#nav_load_deformation a{font-weight:bold;color:#BF1722}
body.services header nav ul li#nav_services a{font-weight:bold;color:#BF1722}
body.press header nav ul li#nav_press a{font-weight:bold;color:#BF1722}
body.flyer header nav ul li#nav_flyer a{font-weight:bold;color:#BF1722}
body.catalog header nav ul li#nav_catalog a{font-weight:bold;color:#BF1722}
body.contact header nav ul li#nav_contact a{font-weight:bold;color:#BF1722}

/*home*/
body.home header h1{/*-webkit-background-size:100% 100%;-moz-background-size:100% 100%;background-size:100% 100%;margin: 0 auto;height:352px;width:400px;text-indent:-9999em;background-color:transparent;background-image:url("/images/viking_fender_large_logo.png");background-position:50%;background-repeat:no-repeat;*/}
div#main{}
#main section{overflow:hidden}
section#boats{}
section#boats article{margin:0 auto;}
section#boats .boat_icon{background:url("/images/tug_new.png") no-repeat scroll 0 58px transparent;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;background-size:100% 100%;float:left;margin:0px;width:25%;}
body.version_2 section#boats .boat_icon{width:320px;}
section#boats .boat_icon h1{background:none repeat scroll 0 0 #F2EED8;border-left:1px dotted tan;color:#BF1722;font-family:"Times New Roman";font-size:27px;line-height:1;font-weight:bold;padding:10px;text-shadow:1px 1px tan;text-transform:uppercase;}
section#boats .boat_icon h1 span{font-size:14px;font-weight:normal;font-family:NegotiateFree,arial,sans-serif;color:#143466;display:block;}
section#boats .boat_icon ul{padding:10px 10px 10px 25px;height:125px;min-height:125px;height:auto;margin:136px 0 0;background:#F1EED8;list-style-type:square;}
body.version_2 section#boats .boat_icon ul{margin-top:181px;}
section#boats .boat_icon ul li{font-size:13px;padding:3px 0;color:#143466;}
section#boats #tug_icon{background:url("/images/home_icon_tug_left.jpg") no-repeat scroll 0 58px transparent;}
body.version_2 section#boats #tug_icon{background:url("/images/home_icon_tug_left_large.jpg") no-repeat scroll 0 58px transparent;}
/*section#boats #tug_icon ul{background:tan;}*/
section#boats #utility_icon{background:url("/images/home_icon_utility.jpg") no-repeat scroll 0 58px transparent;}
body.version_2 section#boats #utility_icon{background:url("/images/home_icon_utility_large.png") no-repeat scroll 0 58px transparent;}
body.version_2 section#boats #utility_icon{display:none;}
/*section#boats #utility_icon ul{background:moccasin;}*/
section#boats #pier_icon{background:url("/images/home_icon_pier.jpg") no-repeat scroll 0 58px transparent;}
body.version_2 section#boats #pier_icon{background:url("/images/home_icon_pier_large.png") no-repeat scroll 0 58px transparent;}
/*section#boats #pier_icon ul{background:tan;}*/
section#boats #yacht_icon{background:url("/images/home_icon_yacht.jpg") no-repeat scroll 0 58px transparent;}
body.version_2 section#boats #yacht_icon{background:url("/images/home_icon_yacht_large.png") no-repeat scroll 0 58px transparent;}
/*section#boats #yacht_icon ul{background:moccasin;}*/
/*
#tug,#yacht{margin:30px;width:441px;height:188px;float:left;text-align:center;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;background-size:100% 100%;}
#tug h1, #yacht h1{height:100%;}
#tug a, #yacht a{width:100%;height:1em;padding-top:193px;display:block;text-transform:uppercase;color:#000;font-weight:bold;font-size:2em}
#tug a:hover, #yacht a:hover{color:#BF1722;}
#tug{}
#yacht{margin:30px 0 0 0;background:url("/images/yacht_new.png") transparent no-repeat 0 100%}
*/
section#home_copy{clear:both;border-color:tan;border-style:dotted;border-width:1px 0 1px;margin:0 auto 10px;}
section#home_copy article{padding:20px;}
section#home_copy h1{margin: 0 auto;height:352px;width:400px;text-indent:-9999em;background-color:transparent;background-image:url("/images/viking_fender_large_logo.png");background-position:50%;background-repeat:no-repeat;}
section#home_copy h2{color: #BF1722;font-size:24px;font-style:normal;text-align:center;text-shadow:1px 1px tan;text-transform:uppercase;}

/*
section#home_copy div{width:49%;}
section#home_copy .left{float:left;}
section#home_copy .right{float:right;}
section#home_copy p{font-size:1.4em;float:left;margin:0 1em 1em 0;}
*/

section#home_touts{}
section#home_touts article{margin:0 auto;width:650px;}
section#home_touts article article{width:300px;height:300px;background:#ccc;margin:10px;float:left;position:relative;}
section#home_touts article article a{color:tan;display:block;font-size:18px;font-weight:bold;height:100%;position:absolute;text-align:center;text-decoration:none;text-shadow:1px 1px #333333;text-transform:uppercase;width:100%;}
section#home_touts article article a span{bottom:0;display:block;height:23px;position:absolute;width:100%;background:url(/images/bg_tout_header.png) transparent repeat 0 0;}
section#home_touts article#catalog_tout{background:url(/images/bg_tout_catalog.png) #ccc no-repeat 50%;}
section#home_touts article#services_tout{background:url(/images/bg_tout_services.png) #ccc no-repeat 50%;}
section#home_touts article#load_deform_tout{background:url(/images/bg_tout_load_deform.png) #ccc no-repeat 50%;}
section#home_touts article#contact_tout{margin-right:0;background:url(/images/bg_tout_contact.png) #ccc no-repeat 50%;}


@font-face {
  font-family: 'AcknowledgementMedium';
  src: url('/fonts/Acknowledgement-webfont.eot');
  src: local('☺'), url('/fonts/Acknowledgement-webfont.woff') format('woff'), url('/fonts/Acknowledgement-webfont.ttf') format('truetype'), url('/fonts/Acknowledgement-webfont.svg#webfontLJ3wAtgv') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NegotiateFree';
  src: url('/fonts/negotiate_free-webfont.eot');
  src: local('☺'), url('/fonts/negotiate_free-webfont.woff') format('woff'), url('/fonts/negotiate_free-webfont.ttf') format('truetype'), url('/fonts/negotiate_free-webfont.svg#webfontfy5xH305') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*fenders*/
.js body.fenders div#main{position:relative;top:-87px;}
body.fenders{}
body.fenders section#fender_type{padding:0;margin-top:0;}
body.fenders section#fender_type div#fender_type_header{float:left;padding:24px;width:50%;}
body.fenders section#fender_type h1{color:#BF1722;font-family:"Times New Roman";font-size:27px;line-height:1;font-weight:bold;padding:0;text-shadow:1px 1px tan;text-transform:uppercase;}
body.fenders section#fender_type h1 span{font-size:14px;font-weight:normal;font-family:NegotiateFree,arial,sans-serif;color:#143466;display:block;}
body.fenders section#fender_type p#type_overview{}
.js body.fenders section#fender_type div#image_gallery{height:500px;width:100%;margin:0 auto;/*float:right;*/border:1px solid tan;background:#000;}
.no-js body.fenders section#fender_type div#image_gallery{display:none;}
body.fenders section#fender_type ul {float:left;list-style-type:square;margin:10px;padding:10px;}
body.fenders section#fender_type ul li{margin:0 0 10px 0;}
body.fenders section#fender_type ul article{/*float:left;width:36%;*/}
.js body.fenders section#fender_type ul article aside{display:none;}
body.fenders section#fender_type article h1 a{font-size:18px;font-weight:bold;color:#143466;font-family:NegotiateFree,arial,sans-serif;text-decoration:none;}
body.fenders section#fender_type article h1 a:hover{color:#BF1722}
body.fenders section#fender_type p.description,body.fenders section#fender_type p#type_overview{font-size:14px;margin:1em 0;}