<!--
<section id="section_image">
	<img src="http://s3.amazonaws.com/media.vikingfender.com/photos/30/large/softlite_affixed_adhesive_fender_2.jpg?1290353494" alt="Viking Fender">
</section>
-->
<div id="map" style="width:960px;height:400px"><iframe width="960" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=1160%2BState%2BStreet%2BPerth%2BAmboy%2C%2BNJ%2B08861@40.533986,-74.262894&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe></div>
<section id="section_copy">
	<h1 class="two-level">Contact <span>Viking Fender</span></h1>
</section>